*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --paleViolet: hsl(276, 100%, 81%);
    --moderateViolet: hsl(276, 55%, 52%);
    --darkViloet: hsl(271, 15%, 43%);
    --grayishBlue: hsl(206, 6%, 79%);
    --veryDarkViloet: hsl(271, 36%, 24%);
    --darkGrayishViloet: hsl(270, 7%, 64%);
    --lightMagenta: hsl(289, 100%, 72%);
    --lightGrayishViolet: hsl(270, 20%, 96%);
}
.flex{
    display: flex;
    align-items: center;
}

main{
    width: 100vw;
    height: 100vh;
    background: #fafafa;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.bg-img-left{
    width: 32.5vw;
    height: 90vh;

    background-image: linear-gradient(-120deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 0 0 15rem 15rem;
    z-index: 1;
    position: absolute;
    left: -5%;
}
.bg-img-right{
    width: 20vw;
    height: 90vh;
    background: var(--lightGrayishViolet);
    border-radius:  15rem 0rem 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.mobile-app{
    width: 275px;
    height: 550px;
    z-index: 10;
}
.app-background{
    border: 10px solid #fff;
    border-radius: 2rem;
    height: inherit;
    background: var(--lightGrayishViolet);
    position: relative;
}

.top-circle{
    width: 125px;
    height: 30px;
    background: #fff;
    border-radius: 3rem;
    z-index: 110;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%,.5rem);
}

/*app-top*/
.app-top{
    background-image: linear-gradient(-120deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    height: 10vh;
    width: inherit;
    border-radius: 2rem 2rem 0 0;
    justify-content: space-around;
    padding-top: 1.5rem;
}
i{
    color: white;
    margin: 0 1rem;
}
.avatar-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-image: url(./images/avatar.jpg);
    background-size: contain;
    margin-right: .5rem;
}
.avatar-details h3{
    color: var(--lightGrayishViolet);
    font-size: .9rem;
}
.avatar-details h6{
    color: var(--grayishBlue);
    font-size: .6rem;
    letter-spacing: 1px;
}
.avatar{
    flex: 1;
}

/*content*/
.content{
    padding: 1rem;
}
.left-chat{
    max-width: 200px;
    background: var(--grayishBlue);
    color: var(--lightGrayishViolet);
    margin:.25rem 0;
    padding: .5rem 1rem;
    font-size: .55rem;
    border-radius: 15px 15px 15px 0px;
    float: left;
}
.right-chat{
    max-width: 200px;
    background: #fff;
    color: var(--grayishBlue);
    margin:.25rem 0;
    padding: .5rem 1rem;
    font-size: .55rem;
    border-radius: 15px 15px 15px 0px;
    float: right;
    text-align: right;
}
.images img{
    width: 25%;
    object-fit: cover;
    float: right;
    margin: 5px;
    border-radius: 5px;
}
.price-container{
    background-image: linear-gradient(-120deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    float: left;
    font-size: .55rem;
    max-width: 15vw;
    max-width: 200px;
    padding: .5rem;
    margin:.25rem 0;
    border-radius: 15px 15px 15px 0px;
}

.radio{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.description{
    flex: 1;
    margin: 0 .5rem;
    color: var(--grayishBlue)
}
.price{
    font-size: 1rem;
    color: #fff;

}

.input{
    width: 100%;
    background: var(--grayishBlue);
    float: left;
    padding: .5rem;
    border-radius: 20px;
    margin: .5rem 0;
}
input{
    border: none;
    background: none;
    font-size: .75rem;
}
.input .icon{
    float: right;
    border-radius: 50%;
    background: var(--veryDarkViloet);
    width: 25px;
    height: 25px;
    position: relative;
}
.icon i {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-75%,-50%);
}

.container{
    width: 70vw;
    margin: auto;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%,-50%);
    padding-right: 6rem;
}
.right-content{
    width: 35vw;
}
.right-content h1{
    color: var(--darkViloet);
}
.right-content p{
    line-height: 2rem;
    margin-top: 2rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .bg-img-left{
        height: 50vh;
        width: 50vw;
        border-radius: 0 0 15rem 0;
    }
    .bg-img-right{
        display: none;
    }
    .container{
        flex-direction: column;
        top: 65%;
        left: 75%;

    }
    .right-content{
        width: 75vw;
        text-align: center;
        margin: 2rem 0;
    }
    .attribution {
        position: absolute;
        bottom: -25%;
        left: 50%;
        transform: translate(-50%,-25%);
    }
  }